<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine Learning Models</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to the Tride ML Models</h1>
    <ul>
        <li><a href="{{ url_for('Engine_health_condition') }}">Engine_health_condition</a></li>
        <li><a href="{{ url_for('Dynamic_Energy_consumption') }}">Dynamic_Energy_consumption</a></li>
        <li><a href="{{ url_for('Intrusion_Detection') }}">Intrusion_Detection</a></li>

    </ul>
</body>
</html>
